{deps, [
    {procket, {git, "git://github.com/ileamo/procket.git", {branch, "master"}}},
    {pkt, ".*", {git, "git://github.com/msantos/pkt.git", {ref, "db7dec36a84484125bfeb4e148ec551cbc2e8997"}}}
    ]}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
